import React from 'react';
import {{pascalCase name}} from '../';
import '../style';
import './index.less'

class {{pascalCase name}}Demo extends React.Component {
  render(): React.ReactNode {
    return <div><{{pascalCase name}} /></div>;
  }
}

export default {{pascalCase name}}Demo;

